/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* TO-DO: write cleaner css, make p have the same color, etc. personalize the css with boba theme*/

:root{
    --font-stack: Roboto, Arial, sans-serif;
    --dark-bg-color: #1F2937;
    --button-color: #3882f6;
    --quote-section: #E5E7EB;
}

body{
    font-family: var(--font-stack);
}

img {
    width: 500px;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.hero, header, footer{
    background-color: var(--dark-bg-color);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.logo-link{ 
    font-size: 24px;
    color: #f9faf8;
}

.header-links, .hero p{
    font-size: 18px;
    color: #E5E7EB;
}

.header-links{
    display: flex;
    gap: 20px;
}

.hero h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero{
    display: flex;
    justify-content: space-around;
    padding: 50px 200px;
}

.left{ /* TO-D0: fix text wrapping*/
    display: flex   ;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

button{ 
    padding: 5px 30px;
    color: white;
    border: none;
    border-radius: 7px;
    
}

button, .call-to-action {
    background-color: var(--button-color);
}
.sectionTwo{
    padding: 20px;
}
.sectionTwo h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.drink-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.drink-desc img{
     /*TO-DO: fix image, crop into square without distortion*/
    width: auto;
    height: 250px;
    border: 5px solid var(--button-color);
    border-radius: 25px;
}

.sectionThree{
    background-color: var(--quote-section);
    padding: 50px 300px;
}

 blockquote{
    font-size: 36px;
    font-style: italic;
    color: #1f2927;
    font-weight: 300;
 }

 figcaption{
    font-weight: bold;
    text-align: end;
    padding: 10px 50px;
 }

 .sectionFour{
    padding: 50px 300px;
 }

 .call-to-action{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    color: white;
    padding: 50px;
    border-radius: 10px;
 }

h3{
    font-weight: bold;
    font-size: 24px;
}

.cta-left p{
    color: var(--quote-section);
}

.signup-but{
    border: 2px solid white;
    border-radius: 10px;
}

 footer{
    padding: 50px;
    color: white;
    text-align: center;
 }